Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
BuildHistory/

Config/DefaultEditorPerProjectUserSettings.ini
Config/DefaultEditorSettings.ini

Content/Collections/
Content/Developers/
Content/ExternalActors/
Content/ExternalObjects/

.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.idea/

*.log
CrashReportClient/
